#Ignore chache file
.cache/
__pycache__

#Ignore .VS Code files
.vscode
.temp/

#Ignore .gitignore.save
.gitignore.save

#Ignore data files
images/
whitepapers/
imagedown.py
soban.py
coins_information.csv
